@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.header {
    background-color: rgb(76, 177, 202);
    color: rgb(0, 0, 0);
    height: 29px;
    color: white;
    font-size: 0.7rem;
}

.header-left {
    float: left;
    width: 50%;
    padding: 7px 107px;
}
.header-right {
    padding-top: 8px;
    word-spacing: 6px;
}

.header-right a {
    color: white;
}

.choose-language {
    background-color: rgb(76, 177, 202);
    color: white;
    border: none;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    width: 65px;
}

.city{
    padding-left: 15px;
}

.choose-city {
    background-color: rgb(76, 177, 202);
    color: white;
    border: none;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    width: 45px;
}

.links a {
    color: black;
}

.leo-shop a {
    color: black;
}

.links {
    float: left;
    margin-top: 30px;
    display: inline;
    font-size: 0.8rem;
    font-weight: bolder;
    word-spacing: 17px;

}

a {
    text-decoration: none;
}

.search-icon {
    float: right;
    margin-right: 18em;
    margin-top: 25px;
}

.search {
    width: 139px;
    height: 17px;
}

.top-icons {
    display: inline;
    position: absolute;
    margin-top: 20px;
    margin-left: 10em;
    word-spacing: 3px;
}

.top-h-text {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: bolder;
    float: right;
    display: inline;
    margin-top: 29px;
    margin-left: 18.6em;
}

.leo-shop {
    float: left;
    margin-top: 23px;
    display: inline;
    font-size: 1.5rem;
    margin-left: 98px;
    margin-right: 40px;
    font-weight: bolder;

}

#glasses {
    margin-top: 1.5em;
}

.top-page {
    height: 22em;
}

.left-top-s-i {
    float: right;
}

.main-page {
    height: 81em;
}

.main-left-woman-letters {
    float: right;
    width: 30%;
}

.woman-banner {
    position: absolute;
    z-index: 1;
    margin-top: 4.3em;
    margin-left: 1.2em;
}

.woman-border {
    background: #ffffff;
    padding:  0px 15px 55px 15px;
    border-style: solid;
    border-color: rgb(211, 207, 207);
    border-width: 0.5px;
    border-top-color: rgb(76, 177, 202);
    border-top-width: 6px;
}

.letters-banner {
    text-align: center;
    background: white;
    width: 220px;
    margin-left: 1.2em;
    margin-top: 32.4em;
}

#neeeewssss {
    opacity: 80%;
    font-weight: bolder;
    padding:  30px 15px 30px 15px;
    border-style: solid;
    border-color: rgb(211, 207, 207);
    border-width: 0.5px;
    border-top-color: rgb(76, 177, 202);
    border-top-width: 6px;
}

.small-text {
    font-weight: normal;
    font-size: 0.7rem;
}

.green-button {
    color: white;
    background-color: rgb(108, 234, 168);
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
}

.blue-button {
    color: white;
    background-color: rgb(76, 177, 202);
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    margin-left: 5.5em;
    margin-top: 28.5em;
}

.woman-text {
    position: absolute;
    z-index: 2;
    text-align: center;
    font-weight: bolder;
    opacity: 80%;
    margin-top: 6em;
    margin-left: 5em;
}

.main-right-page {
    float: left;
    width: 70%;
    height: 81em;
}

.products-1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    opacity: 75%;
    margin-top: 4em;
    margin-left: 5.7em;
}

#container {
    position: absolute;
    display: flex;
    column-gap: 3.5em;
    z-index: 1;
    margin-left: 7em;
    margin-top: 1.3em;
}

.border-for-glasses {
    background: #ffffff;
    padding: 15px 15px 70px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

#chart-1 {
    position: absolute;
    display: flex;
    z-index: 2;
    column-gap: 14.3em;
    opacity: 75%;
    margin-left: 16.9em;
    margin-top: 13em;
}

#nazva-okulyary-1 {
    position: absolute;
    display: flex;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    column-gap: 9.1em;
    font-weight: bolder;
    opacity: 65%;
    margin-top: 13.7em;
    margin-left: 8.8em;
}

#tsina-okulyary-1 {
    position: absolute;
    display: flex;
    z-index: 2;
    opacity: 85%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    column-gap: 14.8em;
    color: rgb(108, 234, 168);
    margin-top: 15em;
    margin-left: 8.8em;
}

#container-22 {
    position: absolute;
    display: flex;
    column-gap: 3.5em;
    z-index: 1;
    margin-left: 7em;
    margin-top: 19em;
}

#chart-2 {
    position: absolute;
    display: flex;
    z-index: 2;
    column-gap: 14.3em;
    opacity: 75%;
    margin-left: 16.9em;
    margin-top: 30.8em;
}

#nazva-okulyary-2 {
    position: absolute;
    display: flex;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    column-gap: 9.1em;
    font-weight: bolder;
    opacity: 65%;
    margin-top: 33.4em;
    margin-left: 8.8em;
}

#tsina-okulyary-2 {
    position: absolute;
    display: flex;
    z-index: 2;
    opacity: 85%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    column-gap: 14.8em;
    color: rgb(108, 234, 168);
    margin-top: 34.8em;
    margin-left: 8.8em;
}

.products-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    opacity: 75%;
    margin-left: 5.7em;
    margin-top: 36.8em;
}

#container-2 {
    position: absolute;
    display: flex;
    column-gap: 3.5em;
    z-index: 1;
    margin-left: 7em;
    margin-top: 1.2em;
}

#chart-3 {
    position: absolute;
    display: flex;
    z-index: 2;
    column-gap: 14.3em;
    opacity: 75%;
    margin-left: 16.9em;
    margin-top: 13em;
}

#nazva-okulyary-3 {
    position: absolute;
    display: flex;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    column-gap: 9.6em;
    font-weight: bolder;
    opacity: 65%;
    margin-top: 13.8em;
    margin-left: 9em;
}

#tsina-okulyary-3 {
    position: absolute;
    display: flex;
    z-index: 2;
    opacity: 85%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    column-gap: 14.9em;
    color: rgb(108, 234, 168);
    margin-top: 15.3em;
    margin-left: 9em;
}

.products-3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    opacity: 75%;
    margin-left: 5.7em;
    margin-top: 19em;
}

#container-3 {
    position: absolute;
    display: flex;
    column-gap: 3.5em;
    z-index: 1;
    margin-left: 7em;
    margin-top: 1.2em;
}

#chart-4 {
    position: absolute;
    display: flex;
    z-index: 2;
    column-gap: 14.3em;
    opacity: 75%;
    margin-left: 16.9em;
    margin-top: 13em;
}

#nazva-okulyary-4 {
    position: absolute;
    display: flex;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    column-gap: 9.9em;
    font-weight: bolder;
    opacity: 65%;
    margin-top: 13.8em;
    margin-left: 9em;
}

#tsina-okulyary-4 {
    position: absolute;
    display: flex;
    z-index: 2;
    opacity: 85%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    column-gap: 14.5em ;
    color: rgb(108, 234, 168);
    margin-top: 15.2em;
    margin-left: 9.1em;
}

.footer {
    margin-top: 2.6em;
}

.first-layer {
    height: 47px;
    background-color: rgb(106, 197, 219);
    color: white;
    font-size: 0.8rem;
}

#footer-images-top {
    position: absolute;
    display: flex;
    padding-left: 14.8em;
    column-gap: 39em;
    padding-top: 0.4em;
}

#footer-text-top {
    position: absolute;
    display: flex;
    padding-top: 0.2em;
    padding-left: 18em;
    column-gap: 20.8em;
}

.second-layer {
    height: 265px;
    background-color: rgb(76, 177, 202);
}

.top-second-layer {
    display: flex;
    column-gap: 9.5em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 0.9rem;
    padding-left: 14em;
    padding-top: 1.5em;
}

.posht {
    font-size: 0.7rem;
}

.facebook-images {
    float: left;
    padding-left: 12em;
}

.third-layer {
    height: 25px;
    background-color: rgb(11, 75, 90);
    color: white;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
}

.copyright {
    float: left;
    opacity: 70%;
    padding-left: 200px;
}

.footer-links {
    float: right;
    opacity: 70%;
    padding-right: 180px;
    word-spacing: 6px;
}

.footer-links a {
    color: white;
}

.second-layer-right-part {
    float: right;
    width: 50%;
}

#right-nazvy {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 0.9rem;
    padding-top: 1.3em;
    padding-left: 6em;
    column-gap: 6em;
}

#right-middle-text {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 0.7rem;
}

#adress {
    float: right;
    width: 17em;
    margin-right: 14em;
}

#right-list {
    float: left;
    line-height: 1.8em;
    margin-left: 6.2em;
}

.social-networks-icons {
    float: right;
    margin-right: 18em;
    margin-top: 0.3em;
    word-spacing: 0.4em;
}

.second-layer-left-part {
    float: left;
    width: 50%;
}

#left-nazvy {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 0.9rem;
    padding-top: 1.3em;
    padding-left: 12em;
    column-gap: 14.3em;
}

#left-photo-and-text {
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 0.7rem;
    padding-left: 16em;
}

.left-twitter-right-part {
    float: left;
}

#twitter-text {
    display: flex;
    position: absolute;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 0.7rem;
    width: 160px;
    padding-left: 9em;
    padding-top: 0.3em;
}

#twitter-photos {
    margin-left: 3.8em;
    margin-top: 0.4em;
    line-height: 4em;
}

@media (max-width: 980px) {
    .header {
        width: 980px;
    }

    #glasses {
        width: 980px;
    }

    .top-page {
        width: fit-content;
    }

    .footer {
        width: 980px;
    }
}
